<div class="forums-container">
  <div class="forum-info">
      <button><a><%= link_to 'New Discussion', new_forum_path%></a></button>
      <div class="search-container">
        <%= form_with url: forums_path, method: :get, local: true do |f| %>
          <%= f.text_field :q, placeholder: "Search Discussions", type: "search" %>
          <%= f.submit "Search", class: "icon-button" %>
        <% end %>
      </div>
      <%= form_with url: forums_path, method: :get, local: true do |f| %>
        <%= f.select :category, options_for_select(Category.pluck(:name, :id), params[:category]), {prompt: "Category"}, onchange: "this.form.submit();" %>
      <% end %>
  </div>
  <div class="forum-card-container">
    <% if @forums.count.zero? %>
      <div class="empty">
        <img src="../../assets/empty_icon.png">
      </div>
    <% end %>
    <% @forums.each do |forum| %>
      <div  class="card">
        <div class="div-img">
          <%= image_tag "forum_logo.png" %>
        </div>
        <%= link_to forum.title, forum_path(forum), class: "p-title"%>
        <p class="p-date"> <%= I18n.l(forum.created_at, format: '%d %B, %Y') %></p>
        <div class="div-category">
          <p class="p-category"><%= forum.category.name %></p>
          <% if forum.solved %>
            <p class="p_status_solved">Close</p>
          <% else %>
            <p class="p_status_not_solved">Open</p>
          <% end %>


        </div>
        <p class="p-description"><%= forum.reason %></p>
        <p class="p-user"><%= forum.user.family_name %></p>
        <div class="div-comment">
          <div>
              <p><%= forum.comments.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
