<div class="user_edit_container">
  <%= form_with model: @user, local: true  do |f| %>
    <div class="user_info_container">
      <div class="user_input">
        <% if action_name == "new" || action_name == "create" %>
          <legend class="uk-legend uk-align-center">Registrarse</legend>
        <% end %>

        <%= render "components/input", f: f, key: :family_name, model: @user %>
        <%= render "components/input", f: f, key: :discord_tag, model: @user %>
        <%= render "components/select", f: f, key: :branch, options: options_for_select([["Despertar", :awakening],["Sucesión", :succession]], @user.branch), model: @user %>
        <%= render "components/select", f: f, key: :avatar, options: options_for_select(
            [
              ["Archer", "avatar_archer_chibi.jpg"],
              ["Berserker", "avatar_berserker_chibi.jpg"],
              ["Dark Knight", "avatar_darknight_chibi.jpg"],
              ["Guardian", "avatar_guardian_chibi.jpg"],
              ["Kunoichi", "avatar_kunoichi_chibi.jpg"],
              ["Lahn", "avatar_lahn_chibi.jpg"],
              ["Maehwa", "avatar_maehwa_chibi.jpg"],
              ["Musa", "avatar_musa_chibi.jpg"],
              ["Mystic", "avatar_mystic_chibi.jpg"],
              ["Ninja", "avatar_ninja_chibi.jpg"],
              ["Ranger", "avatar_ranger_chibi.jpg"],
              ["Shai", "avatar_shai_chibi.jpg"],
              ["Sorceress", "avatar_sorceress_chibi.jpg"],
              ["Striker", "avatar_striker_chibi.jpg"],
              ["Tamer", "avatar_tamer_chibi.jpg"],
              ["Valkyrie", "avatar_valkyrie_chibi.jpg"],
              ["Warrior", "avatar_warrior_chibi.jpg"],
              ["Witch", "avatar_witch_chibi.jpg"],
              ["Wizard", "avatar_wizard_chibi.jpg"]
            ],
            @user.avatar
            
            ), model: @user %>
      </div>
      
      <%= render "components/text", f: f, key: :description, model: @user %>
      <div class="gs_input">
        <%= render "components/number_input", f: f, key: :atack, model: @user %>
        <%= render "components/number_input", f: f, key: :atack_awake, model: @user %>
        <%= render "components/number_input", f: f, key: :denfense, model: @user%>
      </div>
      <% if action_name == "edit" || action_name == "update" %>
        <div class="url_input">
          <%= render "components/input", f: f, key: :build_url, model: @user%>
          <p>Click <%= link_to "here", "https://bdoplanner.com", target: :_blank %> and create your character template</p>
        </div>
        
      <% end %>
      <% if current_user.rank == 'guild_master' %>

         <%= render "components/select", f: f, key: :rank, options: options_for_select(
           [
             ["Recruit", :recruit],
             ["Member", :member],
             ["Quarter Master", :quarter_master],
             ["Oficcer", :oficcer],
             ["Guild Master", :guild_master],
            ], 
            @user.rank
            ), model: @user %>

      <% end %>

      <div class="file red margined">
        <label>
          <%= f.file_field :cover %>
          Select cover
        </label>
      </div>
      <% if action_name == "new" || action_name == "create" %>
        <%= f.submit "Registrarse", class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" %>
        <%= f.submit "Iniciar sesión", class: "uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" %>
      <% else %>
        <%= f.submit class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom"%>
      <% end %>
    </div>
  <% end %>
</div>
