<div class="about-page">
  <div class="container">
    <div class="title">
      <h1 class="outlined-font">OUR GUILD</h1>

      <p class="outlined-font">We are a guild that recruits new, intermediate and experienced players, we strive for a
        balance of play styles and we have no minimum GS requirements.</p>
    </div>

    <div class="offer">
      <p class="title">We offer</p>
      <p class="desc">Black Desert Online North America</p>
    </div>

    <div class="card card-1">
      <div></div>
      <div class="content">
        <p class="header outlined-font">Player vs Player</p>
        <div class="list">
          <div>
            <%= image_tag("torch.png") %>
            <p>Node Wars</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Guild vs Guild</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Red Battlefield</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Combat Trainning</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-2">
      <div></div>
      <div class="content">
        <p class="header outlined-font">Advisory</p>
        <div class="list">
          <div>
            <%= image_tag("torch.png") %>
            <p>Forums</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Guides</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Experimented players</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-3">
      <div></div>
      <div class="content">
        <p class="header outlined-font">Life skill</p>
        <div class="list">
          <div>
            <%= image_tag("torch.png") %>
            <p>Barter</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Sailing</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Gathering</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-4">
      <div></div>
      <div class="content">
        <p class="header outlined-font">Player vs Environment</p>
        <div class="list">
          <div>
            <%= image_tag("torch.png") %>
            <p>World Bosses</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Wandering Bosses</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Guild Bosses</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Grinding groups</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-5">
      <div></div>
      <div class="content">
        <p class="header outlined-font">Guild Benefits</p>
        <div class="list">
          <div>
            <%= image_tag("torch.png") %>
            <p>All combat buff</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>All life buff</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>Guild ship</p>
          </div>
          <div>
            <%= image_tag("torch.png") %>
            <p>War elephant</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>